{% extends "base.html" %}

{% block content %}
    <h1>
        {% if user.is_superuser or user == object.user %}
            <a href="{% url 'recipes:menu-delete' object.pk %}"
               onclick="if (!confirm('Weet je het zeker?')) return false;" type="button" class="btn btn-danger"
               aria-label="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        {% endif %}
        {{ object.name }}</h1>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lijst</a></li>
    <li role="presentation"><a href="#instructions" aria-controls="profile" role="tab" data-toggle="tab">Instructies</a></li>
    <li role="presentation"><a href="#shopping" aria-controls="profile" role="tab" data-toggle="tab">Boodschappen</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <br/>
       {%  if not recipes %}
    <div class="alert alert-info" role="alert">
  Om recepten toe te voegen:<br/>
        - Zoek via <a href="/">Home</a> een recept<br/>
    - Kies in dat recept dit menu en klik 'toevoegen'
</div>
    {% endif %}
        {%  if warning %}
    <div class="alert alert-warning" role="alert">
{{warning}}
    </div>
    {% endif %}
<ul class="list-group">
    {% for mr in recipes %}
        <li class="list-group-item">
            <a style="padding:0px" class="btn btn-sm {% if forloop.first %}disabled{% endif %} }}"
               href="{% url 'recipes:menu-recipe-move' object.pk mr.recipe.pk 'up'%}"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a style="padding:0px"  class="btn btn-sm {% if forloop.last %}disabled{% endif %} }}"
               href="{% url 'recipes:menu-recipe-move' object.pk mr.recipe.pk 'down'%}"><span class="glyphicon glyphicon-arrow-down"></span></a>
            <a style="padding:0px"  class="btn btn-sm {% if forloop.last %}disabled{% endif %} }}"
               href="{% url 'recipes:menu-recipe-remove' object.pk mr.recipe.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
             <a href="{{ mr.recipe.get_absolute_url }}?share={{ mr.share_key }}">{{ mr.recipe.title }}</a>
        (uit: <a class="lesson" href="{{ mr.recipe.lesson.get_absolute_url }}">{{ mr.recipe.lesson }}</a>,
         <span class="sub-text">{{ mr.recipe.lesson.date | date }}</span>)
        </li>
    {% endfor %}
</ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="instructions">

        {% for mr in recipes %}
            {% if not forloop.first %}<hr/>{% endif %}
            <h4>{{mr.recipe.title}}</h4>
    <table class="ingredients">
        {% for row in mr.ingredient_rows %}
            <tr>
                {% for ing in row %}
                    <td>{{ ing  }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

        {{ mr.recipe.instructions  }}
       {% endfor %}


    </div>
      <div role="tabpanel" class="tab-pane" id="shopping">
          <table class="ingredients">
              {%  for quant, ing in ingredients %}
                  <tr>
                  <td>{{ quant }}</td>
                  <td>{{ ing }}</td>

                  </tr>
              {% endfor %}
          </table>
      </div>
  </div>



{% endblock %}