{% extends "base.html" %}
{% load admin_urls %}
{% load highlight_all %}
{% load avatar_tags %}
{% load widget_tweaks %}

{% block head %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/css/lightslider.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css" />
{% endblock %}

{% block foot %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.5/js/lightslider.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#lightSlider").lightSlider({autoWidth:true}); 
      });

    </script>
{% endblock %}

{% block content %}
<h1>
  <a href="{{object.get_absolute_url}}?like={% if isliked %}0{% else %}1{%endif%}">
    <span class="glyphicon glyphicon-star{% if not isliked %}-empty{% endif %}" aria-hidden="true"></span>
  </a>
  {{ object.title }}
</h1>
<p>Uit: 
  <a href="{{object.lesson.get_absolute_url}}">{{object.lesson.title}}, {{ object.lesson.date }}</a> 
  (<a href="{{ object.lesson.docfile.url }}">{{ object.lesson.filename  }})</a>
  {% if user.is_superuser %}| <a href="{% url 'admin:recipes_recipe_change' object.id %}">Aanpassen</a> {% endif %}
</p>

<p><small>Ingredienten:</small><br/>
<table class="ingredients">
{% for row in ingredient_rows %}
<tr>
  {% for ing in row %}
  <td>{{ing | highlight_all:highlight}}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>

<p><small>Instructies:</small></br/>
{{ object.instructions | highlight_all:highlight }}

<hr/><h2>Foto's</h2>
{% if object.pictures.all.exists %}
<div class="pictures">
    <ul id="lightSlider">
{% for picture in object.pictures.all %}
    <li><a href="{{ picture.image.url}}"><img class="foto" src="{{ picture.image_small.url }}" /></a>
<br/>
<div style="height:2em">
{% if user.is_superuser or user == picture.user %}
<a href="{% url 'recipes:picture-delete' picture.id %}"
	onclick="if (!confirm('Weet je het zeker?')) return false;" type="button" class="btn btn-danger" aria-label="Delete">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</a>
<a href="{% url 'recipes:picture-like' picture.id %}" 
class="btn btn-{% if picture.favourite %}success{%else%}default{% endif %}" aria-label="Favourite">
  <span class="glyphicon glyphicon-star{% if not picture.favourite %}-empty{% endif %}" aria-hidden="true"></span>
</a>
{% endif %}
<span class="sub-text">{{picture.user.first_name}} op {{picture.date}}</span>
</div>
</li>
{% endfor %}
    </ul>
</div>
{% endif %}


  <form action="{% url 'recipes:picture-add' object.id %} " method="POST" class="form-inline" enctype='multipart/form-data'> 
 {% csrf_token %}
<div class="form-group">
	{% render_field commentform.image %}
</div>
      <button class="btn btn-default" >Foto Toevoegen</button>
  </form>

<div class="comments">
<hr/>  <h2>Opmerkingen</h2>
  <ul>
{% for comment in comments %}
    <li>
      <div class="avatar">
{% avatar comment.user 30 %}
      </div>
      <div>
        <p class="">
{{ comment.text }}
{% if comment.image %}
<div>
  <a href="{{comment.image.url}}">
    <img class="foto" src="{{ comment.image.url }}" />
    </a>
</div>
{% endif %}

	</p>
<span class="sub-text">door {{comment.user.first_name}} op {{comment.date}}</span>
	
      </div>
    </li>
    {% endfor %}
  </ul>
  <form action="#" method="POST" class="form-horizontal" enctype='multipart/form-data'> 
 {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-12">
{% render_field commentform.text placeholder="Commentaar toevoegen" rows="5" %}
      </div>
    </div>
    <div class="form-group">
      <label for="{{ commentform.image.id_for_label }}" class="col-sm-2 control-label">Foto toevoegen: </label>
      <div class="col-sm-10">
	{% render_field commentform.image %}
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" >Commentaar / Foto Plaatsen</button>
    </div>
  </div>
  </form>
  
</div>
{% endblock %}
