{% extends 'base.html' %}

{% block content %}
    <h2>Recepten zoeken</h2>

    <form method="get" action="#">
        <table>
            {{ searchform.q }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Zoek">
                </td>
            </tr>
        </table>
    </form>

    {% if query %}
        <h3>{{ page_obj.n }} Resultaten</h3>
        {% include "recipes/pagination_search.html" %}

        <ul class='results'>
            {% for result in object_list %}
                <li>
                    {% include "recipes/thumbnail.html" with object=result.object %}
                    <a href="{{ result.object.get_absolute_url }}?highlight={{ query }}">
                    {%  if result.meta.highlight.title %}
                        {{  result.meta.highlight.title.0 | safe }}
                    {% else %}
                        {{ result.object.title }}
                        {%  endif %}


                    </a>
                    (<a href="{{ result.object.lesson.docfile.url }}"><span class="glyphicon glyphicon-file"
                                                                            aria-hidden="true" title="Download"></span>
                </a>
                    <a href="{{ result.object.lesson.get_absolute_url }}">
                    {%  if result.meta.highlight.lesson %}
                        {{  result.meta.highlight.lesson.0 | safe }}
                    {% else %}
                        {{ result.object.lesson.title }}
                        {%  endif %}
                    </a>)<br/>
{{ result.description | safe }}
                    <hr/>
                </li>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        </ul>



{% include "recipes/pagination_search.html" %}
    {% else %}
        <!-- no results, show favourites and new lessons -->


        <div class="row">
            <div class="col-md-3">

                <h3><a href="{% url 'recipes:fav-recipe-list' %}">Favorieten</a></h3>
                <ul class='results'>
                    {% for object in your_likes %}
                        <li>
                            <p>

                                <a href="{{ object.get_absolute_url }}?toggle_like={{ object.pk }}">
                                    <span class="glyphicon glyphicon-star{% if not object.favorite %}-empty{% endif %}"
                                          aria-hidden="true"></span>
                                </a>
                                <a class="recipe"
                                   href="{{ object.recipe.get_absolute_url }}?highlight={{ query }}">{{ object.recipe.title }}</a>
                                <br/>
                                <a class="lesson" href="{{ object.recipe.lesson.docfile.url }}"><span
                                        class="glyphicon glyphicon-file" aria-hidden="true" title="Download"></span>
                                </a>
                                <a class="lesson"
                                   href="{{ object.recipe.lesson.get_absolute_url }}">{{ object.recipe.lesson.title }}</a>
                                <br/>
                                {% include "recipes/thumbnail.html" with object=object.recipe %}
                                {{ object.recipe.instructions|truncatechars:150 }}
                                <span class="sub-text">{{ object.date }}</span>

                            </p>

                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-md-3">

                <h3><a href="{% url 'recipes:recent-recipe-list' %}">Recent bekeken</a></h3>
                <ul class='results'>
                    {% for object in your_recent %}
                        <li>
                            <p>

                                <a href="{{ object.get_absolute_url }}?toggle_like={{ object.pk }}">
                                    <span class="glyphicon glyphicon-star{% if not object.favorite %}-empty{% endif %}"
                                          aria-hidden="true"></span>
                                </a>
                                <a class="recipe"
                                   href="{{ object.recipe.get_absolute_url }}?highlight={{ query }}">{{ object.recipe.title }}</a>
                                <br/>
                                <a class="lesson" href="{{ object.recipe.lesson.docfile.url }}"><span
                                        class="glyphicon glyphicon-file" aria-hidden="true" title="Download"></span>
                                </a>
                                <a class="lesson"
                                   href="{{ object.recipe.lesson.get_absolute_url }}">{{ object.recipe.lesson.title }}</a>
                                <br/>

                                {% include "recipes/thumbnail.html" with object=object.recipe %}
                                {{ object.recipe.instructions|truncatechars:150 }}
                                <span class="sub-text">{{ object.date }}</span>

                            </p>

                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col-md-3">


                <h3>Jouw Menu's</h3>
                <form class="form-inline" action="{% url 'recipes:menu-add' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Menu Toevoegen"></div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"
                                                                        aria-hidden="true" title="Toevoegen"></span>
                    </button>
                </form>

                <ul class='results'>
                    {% for object in menus %}
                        <li>
                            <a class="lesson" href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                            <span class="sub-text">{{ object.date | date }}</span><br/>
                            {% for recipe in object.recipes.all %}
                                <a class="recipe" href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
                                {% if not forloop.last %}, {% endif %} {% endfor %}
                        </li>

                    {% endfor %}
                </ul>


            </div>


            <div class="col-md-3">


                <h3><a href="{% url 'recipes:lesson-list' %}">Nieuwe kooklessen</a></h3>
                <ul class='results'>
                    {% for object in recent_lessons %}
                        <li>
                            {% if object.has_picture %}
                                {% for recipe in object.recipes.all %}
                                    {% include "recipes/thumbnail.html" with object=recipe cls="thumb2" %}
                                {% endfor %}
                                <br/>
                            {% endif %}
                            <a class="lesson" href="{{ object.docfile.url }}">
                                <span class="glyphicon glyphicon-file" aria-hidden="true" title="Download"></span>
                            </a>
                            <a class="lesson"
                               href="{{ object.get_absolute_url }}?highlight={{ query }}">{{ object.title }}</a>
                            <span class="sub-text">{{ object.date | date }}</span>
                            <br/>
                            {% for recipe in object.recipes.all %}
                                <a class="recipe" href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
                                {% if not forloop.last %}, {% endif %} {% endfor %}
                        </li>
                    {% endfor %}
                </ul>


            </div>
            <!--
  <div class="col-md-4">

		<h3>Recente likes</h3>
		<ul class='results comments'>
		{% for object in other_likes %}
                <li>

<div>
<p><a href="{{ object.recipe.get_absolute_url }}?highlight={{query}}">{{ object.recipe.title }}</a>
(<a href="{{ object.recipe.lesson.get_absolute_url }}">{{ object.recipe.lesson.title }}</a>, 
<a href="{{ object.recipe.lesson.docfile.url }}">{{ object.recipe.lesson.docfile.name|cut:'./'  }}</a>)<br/>
{{ object.recipe.full_text|truncatechars:250 }} 
</p>
<span class="sub-text">door {{object.user}} op {{object.date}}</span>
</div>
</li>
            {% endfor %}
		</ul>
    </div>-->

        </div> <!-- end row -->



    {% endif %}
{% endblock %}
